@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: #0B2434;
    padding: 1.3rem;
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}


main {
    background-color: #F5F5F5;
    min-height: 75%;
    border-radius: 10px;
    max-width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.dice_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
    margin-top: 1rem;
}

.die {
    background-color: #FFFFFF; 
    height: 60px;
    width: 60px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    color: #2B283A;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.die-count {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Karla", sans-serif;
}

.roll-dice {
    font-family: "Karla", sans-serif;
    margin-top: 2em;
    font-size: 1.2rem;
    color: #FFFFFF;
    background-color: #5035FF;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    justify-content: flex-end;
    cursor: pointer;
}

.roll-dice:focus {
    outline: none;
}

.roll-dice:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.title {
    font-size: 40px;
    margin: 0;
    font-weight: bold;
    font-family: "Karla", sans-serif;
}

.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
}

.roll-count {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

@media (max-width: 515px) {
    body {
        padding: 1.3rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 0; 
    }

    main {
        background-color: #F5F5F5;
        height: auto; 
        border-radius: 10px;
        max-width: 100%;
        padding: 20px;
    }

    .dice_container {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(5, auto);
    }
}

